<%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
        <% admin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin.avatar.attached? %>
    <%= image_tag current_user.avatar.variant(resize: "100x100!"), class: 'profile-image' %>
  <% else %>
    
    <div class="hero-avatar-container"></div>
    <%= image_tag "default.png", class: 'profile-avatar' %>
    <%#= image_tag gravatar_image_tag(current_user.email, size: 100), height: 100, width: 100, class: 'rounded-circle' %>
    <br>

    <%= form.file_field :avatar, accept: 'image/png,image/gif,image/jpeg' %>  

  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
