
<p>
  <strong>Name:</strong>
  <%= @instructor.first_name.capitalize + ' ' + @instructor.last_name.capitalize %>
</p>

<p>
  <strong>Address:</strong>
  <%= @instructor.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @instructor.phone %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @instructor.dob %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @instructor.transmission.capitalize %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @instructor.gender.capitalize %>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
