<%= link_to 'Edit My Account', edit_instructor_path(@instructor) %>

<p>
  <strong>Name:</strong>
  <%= @instructor.first_name.capitalize + ' ' + @instructor.last_name.capitalize if @instructor.first_name &&  @instructor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @instructor.user.email if @instructor.user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @instructor.address if @instructor.address %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= "#{@instructor.phone[0..3]} #{@instructor.phone[4..6]} #{@instructor.phone[7..9]}" if @instructor.phone %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @instructor.dob if @instructor.dob %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @instructor.transmission.capitalize if @instructor.transmission %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @instructor.gender.capitalize if @instructor.gender %>
</p>

<%= link_to 'Show All My Lessons', lessons_path(@instructor), class: 'btn btn-outline-primary'%>
<%= link_to 'Back', instructors_path, class: 'btn btn-secondary'%>
