<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to "DLM", home_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    
      <li class="navbar-text active" >
        <% if user_signed_in? %>
          <% if current_user.student? %>
            Hello <%= current_user.student.first_name.capitalize if current_user.student.first_name %>!
          <% elsif current_user.instructor? %>
            Hello <%= current_user.instructor.first_name.capitalize if current_user.instructor.first_name %>!
          <% elsif current_user.admin? %>
            Hello <%= current_user.admin.first_name.capitalize if current_user.admin.first_name %>!
          <% end %>
        <% end %>
      </li>

      <% if user_signed_in? %>
        <% if current_user.admin? %>
        <li class="nav-item">
          <%= link_to 'All Lessons', lessons_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'All Students', students_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'All Instructors', instructors_path, class: "nav-link" %>
        </li>
        <% elsif current_user.student? || current_user.instructor? %>
        <li class="nav-item">
          <%= link_to 'My Lessons', lessons_path, class: "nav-link" %>
        </li>
        <% end %>
      <% end %>
   
    </ul>
    
    <ul class="navbar-nav nav-right">
      <% if user_signed_in? %>
        <li class="nav-item">
          <% if current_user.student? %>
            <%= link_to current_user.email, student_path(current_user.student.id), class: "nav-link" %>
          <% elsif current_user.instructor?  %>
            <%= link_to current_user.email, instructor_path(current_user.instructor.id), class: "nav-link" %>
          <% elsif current_user.admin? %>
            <%= link_to current_user.email, admin_path(current_user.admin.id), class: "nav-link" %>
          <% end %>
        </li>
        <%= image_tag user_avatar(current_user, 100), class: 'navbar-avatar'%>
        
        <li class="nav-item">
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% elsif user_signed_in? %>
        <li class="nav-item">Signing Up</li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log In', new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    
  </div>
</nav>