

<div class="card text-center">
  <h5 class="card-header">Book a Driving Lesson</h5>
  <div class="card-body">
    <%= form_with model: @lesson, local: true, url: lesson_create_path do |form| %>

      <div class="form-group row">
        <%= form.label :date, class: "col-sm-3 col-form-label text-left" %>
        <div class="col-sm-6"><%= form.date_field :date, class: "form-control" %></div>
      </div>

      <div class="form-group row">
        <%= form.label :time, class: "col-sm-3 col-form-label text-left" %>
        <div class="col-sm-6"><%= form.time_field :time, class: "form-control" %></div>
      </div>

      <% if false %>
      <div class="form-group row">
        <%= form.label :instructor, class: "col-sm-3 col-form-label text-left" %>
        <div class="col-sm-6">
          <%= form.radio_button :instructor, :any, class: "form-check-input" %>
          <%= form.label :instructor, "Any Instructor", class: "form-check-label", value: :any %><br />
          <%= form.radio_button :instructor, :male, class: "form-check-input" %>
          <%= form.label :instructor, "Male", class: "form-check-label", value: :male %><br />
          <%= form.radio_button :instructor, :female, class: "form-check-input" %>
          <%= form.label :instructor, "Female", class: "form-check-label", value: :female %>
        </div>
      </div>
      <% end %>

      <% if current_user.admin? || current_user.instructor? %>
      <div class="form-group row">
        <%= form.label :student, class: "col-sm-3 col-form-label text-left" %>
        <div class="col-sm-6">
          <%= form.collection_select :student_id, @students, :id, :first_name, {selected: "", disabled: "", prompt: "Select student"}, {value: :student, class: "form-control"} %>
        </div>
      </div>
      <% else %>
        <%= form.hidden_field :student_id, value: current_user.student.id %>
      <% end %>
 


      <div class="form-group row">
        <%= form.label :instructor, class: "col-sm-3 col-form-label text-left" %>
        <div class="col-sm-6">
          <% if current_user.instructor? %>
            <%= form.collection_select :instructor_id, @instructors, :id, :first_name, {selected: "", disabled: "", prompt: "Select instructor"}, {value: current_user.instructor&.first_name, class: "form-control"} %>
          <% else %>
            <%= form.collection_select :instructor_id, @instructors, :id, :first_name, {selected: "", disabled: "", prompt: "Select instructor"}, {value: "", class: "form-control"} %>
          <% end %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :duration, class: "col-sm-3 col-form-label text-left" %>
        <div class="col-sm-6">
          <%= form.select :duration, [['60 mins', 60], ['90 mins', 90], ['120 mins', 120]], {selected: "", disabled: "", prompt: "Select duration"}, {class: "form-control", value: :duration} %>
        </div>
      </div>

      <% if current_user.student? %>
       <div class="form-group row">
        <%= form.label :transmission, class: "col-sm-3 col-form-label text-left" %>
        <div class="col-sm-6"><%= form.text_field :transmission, class: "form-control", disabled: true, value: current_user.student&.transmission&.capitalize %></div>
      </div>

      <div class="form-group row">
        <%= form.label :address, class: "col-sm-3 col-form-label text-left" %>
        <div class="col-sm-6"><%= form.text_field :address, class: "form-control", disabled: true, value: current_user.student&.address %></div>
      </div>
      <% elsif current_user.admin? || current_user.instructor? %>
      <div class="form-group row">
        <%= form.label "Student Transmission", class: "col-sm-3 col-form-label text-left" %>
        <div class="col-sm-6"><%= form.text_field :transmission, class: "form-control", disabled: true, value: "prefilled in future update" %></div>
      </div>

      <div class="form-group row">
        <%= form.label "Student Address", class: "col-sm-3 col-form-label text-left" %>
        <div class="col-sm-6"><%= form.text_field :address, class: "form-control", disabled: true, value: "prefilled in future update" %></div>
      </div>
      <% end %>


      <div class="actions">
        <%= form.submit "BOOK", class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>

  </div>
</div>

