

<div class="container text-center mt-5">


  <%= render 'shared/top_half_show', person: person %>


  <% if current_user.student? || current_user.instructor?%>

    <div class="jumbotron jumbotron-fluid mt-4 mb-3 text-left">
      <div class="container text-left">
        <% if upcoming %>
          <h5 class="inline">Upcoming Lesson</h5> <%= link_to 'More details', lesson_show_path(upcoming), class: 'ml-3 inline' %>
          <%#= link_to 'More details', lesson_show_path,  {remote: true, 'data-toggle' =>  "modal", 'data-target' => 'lesson-modal', class: ''}  %>
          <% if current_user.instructor? %>
            <p class="lead mb-1">A <%= upcoming&.duration %> min lesson with <%= upcoming&.student&.first_name %> on <%= get_readable_date(upcoming&.date&.to_s, "without_day") %> at <%= upcoming&.time&.strftime('%l:%M %P') %>, meeting at <%= upcoming&.student&.address %>.</p>
          <% else %>
            <p class="lead mb-1">A <%= upcoming&.duration %> min lesson with <%= upcoming&.instructor&.first_name %> on <%= get_readable_date(upcoming&.date&.to_s, "without_day") %> at <%= upcoming&.time&.strftime('%l:%M %P') %>, meeting at <%= @student.address %>.</p>
          <% end %>
          
        <% else %>
          <h5 class="inline">Upcoming Lesson</h5>
          <p class="lead mb-1">You have no upcoming lessons.</p>
        <% end %>
      </div>

      <div class="container text-right">
        <% if previous %>
          <%= link_to 'More details', lesson_show_path(previous), class: 'inline mr-3'%> <h5 class="inline">Previous Lesson</h5>
          
          <% if current_user.instructor? %>
            <p class="lead mb-1">A <%= previous&.duration %> min lesson with <%= previous&.student&.first_name %> on <%= get_readable_date(previous&.date&.to_s, "without_day") %>.</p>
          <% else %>
            <p class="lead mb-1">A <%= previous&.duration %> min lesson with <%= previous&.instructor&.first_name %> on <%= get_readable_date(previous&.date&.to_s, "without_day") %>.</p>
          <% end %>
          
        <% else %>
          <h5 class="inline">Previous Lesson</h5>
          <p class="lead mb-1">You have not had a lesson yet.</p>
        <% end %>
      </div>
    </div>

  <% end %>

  <div class="mt-3">
    <% if current_user.student? %>
      <%= link_to 'Show All My Lessons', lessons_path, class: 'btn btn-outline-primary mb-4' %>
    <% else %>
      <%= link_to 'Show All Lessons', lessons_path, class: 'btn btn-outline-primary mb-4' %>
    <% end %>
  </div>
  
  <% if current_user.student? %>
    <%= render 'shared/new_lesson', locals: {lesson: @lesson, instructors: @instructors} %>
  <% end %>

  <br>




</div>

