<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag user_avatar(current_user, 100), class: 'profile-avatar'%>
  <br>

  <%= form.file_field :avatar, accept: 'image/png,image/gif,image/jpeg' %>  

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group form-row">
    <%= form.label "DOB Day" %>
    <%= form.text_field :dob_day, class: "form-control" %>
    <%= form.label "DOB Month" %>
    <%= form.text_field :dob_month, class: "form-control" %>
    <%= form.label "DOB Year"%>
    <%= form.text_field :dob_year, class: "form-control" %>
  </div>

  <div class="form-group form-check">
    <%= form.radio_button :transmission, :manual, class: "form-check-input" %>
    <%= form.label :transmission, "Manual", class: "form-check-label", value: :manual %><br />
    <%= form.radio_button :transmission, :automatic, class: "form-check-input" %>
    <%= form.label :transmission, "Automatic", class: "form-check-label", value: :automatic %>
  </div>

  <div class="actions">
    <%= form.submit 'Update', class: 'btn btn-primary' %>
  </div>
<% end %>
