
<p>
  <strong>Name:</strong>
  <%= @student.first_name.capitalize + ' ' + @student.last_name.capitalize if @student.first_name && @student.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address if @student.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone if @student.phone %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.dob if @student.dob %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @student.transmission.capitalize if @student.transmission %>
</p>

<div class="card text-center">
  <h5 class="card-header">Book a Lesson</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">BOOK</a>
  </div>
</div>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
