<%= link_to 'Edit My Account', edit_student_path(@student) %>

<br>

<p>
  <strong>Name:</strong>
  <%= @student.first_name.capitalize + ' ' + @student.last_name.capitalize if @student.first_name && @student.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address if @student.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone if @student.phone %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.dob if @student.dob %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @student.transmission.capitalize if @student.transmission %>
</p>

<% render 'shared/new_lesson' %>

<br>

<%= link_to 'Back', students_path, class: "btn btn-secondary"%>
