<%= link_to 'Edit My Account', edit_student_path(@student) %>

<br>

<%= image_tag user_avatar(current_user, 100), class: 'profile-avatar'%>

<br>

<p>
  <strong>Name:</strong>
  <%= @student.first_name.capitalize + ' ' + @student.last_name.capitalize if @student.first_name && @student.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.user.email if @student.user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address if @student.address %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= "#{@student.phone[0..3]} #{@student.phone[4..6]} #{@student.phone[7..9]}" if @student.phone %>
</p>

<p>
  <strong>Dob:</strong>
  <%= get_readable_date(@student.dob, "without_day") if @student.dob %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @student.transmission.capitalize if @student.transmission %>
</p>


<%= render 'shared/new_lesson', lesson: @lesson %>

<br>

<%= link_to 'Show All My Lessons', lessons_path, class: 'btn btn-outline-primary'%>
