
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "mt-7 form-signin text-center"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= image_tag 'dlm-logo.png', class: 'mb-4 logo-change-password' %>
  <h1 class="h3 mb-3 font-weight-normal">Change your password</h1>

  <div class="form-group">
    <%= f.label :email, class: "sr-only", placeholder: "Email address" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address"  %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, class: "sr-only" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Current password" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <br>

  <em><%= @minimum_password_length %> characters minimum</em>
  <div class="form-group">
    <%= f.label :new_password, class: "sr-only" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "New password"  %>
    <% if @minimum_password_length %>
      
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :confirm_new_password, class: "sr-only" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm new password" %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-lg btn-primary btn-block" %>
  </div>
  
  <br>
  <hr>

  <h1 class="h3 mb-3 font-weight-normal">Delete your account</h1>


  <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure? This change is irreversible! This will delete all records of your lessons as well." }, method: :delete, class: "btn btn-danger" %>


<% end %>





