<h1>All Lessons</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Student</th>
      <th scope="col">Instructor</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Duration</th>
      <%# <th scope="col">Transmission</th> %>
      <th scope="col">Cancelled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @all_lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.student.first_name.capitalize + ' ' + lesson.student.last_name.capitalize %></td>
        <td><%= lesson.instructor.first_name.capitalize + ' ' + lesson.instructor.last_name.capitalize %></td>
        <td><%= lesson.date if lesson.date %></td>
        <td><%= lesson.time if lesson.time %></td>
        <td><%= lesson.duration if lesson.duration %></td>
        <!--<td><%= lesson.transmission.capitalize if lesson.transmission %></td>-->
        <td><%= lesson.cancelled ? "Yes" : "No" %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>