

<div class="container ">

  <div class="container text-center mt-5">
    <% if current_user.student? %>
      <%= render 'shared/top_half_show', person: @lesson.student %>
    <% elsif current_user.instructor? %>
      <%= render 'shared/top_half_show', person: @lesson.instructor %>
    <% end %>
  </div>

  <div class="container mt-5">
  
    <div class="card mb-3">
      <%= image_tag 'road.jpg', class: "card-img lesson-background" %>
      <div class="card-img-overlay">
        <h5 class="card-title display-2" style="color: white;">Lesson Details</h5>
      </div>

      <div class="card-body">
          <ul class="list-group list-group-flush col">
            <li class="list-group-item lead"><strong>Date:</strong> <%= get_readable_date(@lesson&.date, "with_day") %> </li>
            <li class="list-group-item lead""><strong>Time:</strong>  <%= @lesson&.time&.strftime('%l:%M %P')%> </li>
            <li class="list-group-item lead""><strong>Duration:</strong> <%= "#{@lesson&.duration} minutes" %> </li>
            <li class="list-group-item lead""><strong>Meet At:</strong> <%= get_readable_address(@lesson&.student&.address) %> </li>
            <li class="list-group-item lead""><strong>Instructor:</strong> <%= @lesson&.instructor&.first_name %> </li>
            <li class="list-group-item lead""><strong>Instructor Mobile:</strong> <%= get_readable_phone_number(@lesson&.instructor&.phone) %> </li>
          </ul>
      </div>
    </div>



  </div>



</div>

